@media screen and (max-width:800px) {

}
@media screen and (max-width:640px) {
  header{
  	margin-bottom: 20px;
  }
  
}

@media screen and (min-width: 768px){

}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.header-center img{
		width: 25%;
		margin: 15px 0 10px 35px;
	}
	.header-center .search{
		line-height: 120px;
	}
	#dates > div > ul > li{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	#calendar{
		height: 340px;
	}
	
    
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.header-center img{
		width: 80%;
		margin: 25px 0 25px 35px;
	}
	.header-center .search{
		line-height: 150px;
	}
	.header-center .search button{
		line-height: 30px;
	}
	#dates > div > ul > li{
		width: 35px;
		height: 35px;
		line-height: 35px;
	}
	#calendar{
		height: 350px;
	}
}	
@media screen and (min-width: 1200px) {
	.container {
    	width: 1300px;
 	}
}
@media screen and (max-width:480px) {
	header{
		margin-top: -20px;
	}
	.header-down{
		height: auto;
	}
	.header-down .left ul li{
		display: block;
	}
	.header-center{
		text-align: center;
	}
	.header-center img{
		margin: 15px 0 0 0;
	}
	.header-center .search{
		line-height: 80px;
		margin:0;
		text-align: center;
		float: none;
	}
	.header-down .left{
		width: 100%;
	}
	.header-down .left ul{
		padding-left: 0;
	}
	.header-down .left ul li a{
		padding-left: 20px;
	}
	.header-down .right{
		width: 100%;
		float: right;
		padding-left: 0px;
		margin-right: 0;
		padding:0;
	}
	.header-down .right .btn:active{
		background-color: #f7941d;
	}
	.header-down .notify{
		width: 100%;
		right: 0;
	}
	.home-body h1{
		text-align: center;
	}
	#chat-circle{
		width: 50px;
		height: 50px;
		right: 25px;
	}
	#chat-circle i{
		font-size: 30px;
		top: 13px;
	}
	.chat-box{
		right: 0;
		width: 100%;
	}
	#entries{
		max-width: 100%;

	}
}